:root {
    box-sizing: border-box;
    --logo-fg : rgb(121,109,97);
    --logo-bg : white;

    direction: rtl;
}

body,html {
    direction: rtl;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a ,a:visited {
    text-decoration: none;
    color: inherit;
}


header {
    width: 98vw;
    display: flex;
    background-color: white;
    position: relative;
    top :0;
}

nav {
    width: 70%;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-between;
    margin: auto;
    overflow: visible;
    height: 150px;
}

nav a,nav a:visited {
    color: rgb(121,109,97);
    
}

nav a{
    font-size: 2rem;
}

nav a:hover{
    text-decoration: underline;

}


footer {
    width : 100%;
    background-color: var(--logo-fg);
    color: var(--logo-bg);
    display: flex;
    justify-content: space-between;
}

.product {
    position: relative;
}

.product-title {
    font-size: 2rem;
    font-weight: 700;
}

/* ===================  INDEX.PHP STYLES       ==================*/
.content {
    padding: 20px;
  }

.top-picture {
    display: flex;
}

.top-picture img {
    margin: 0 auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    margin-top: 102px;
  }


.personal {
    margin-top:20px;
    display: flex;
}

.personal-text {
    margin: 0 auto;
    width :400px;
    font-size: 1.5rem;
}

.some-products {
    display: flex;
    justify-content: space-between;
    margin : 20px auto ;
}

.small .product-img {
    width: 100% ;
    height: 200px;
}


.product-content {
    width : 60%;
    margin : 20px auto; 
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 160px;
    height: 180px;
    border-radius: 50%; 
    background-color: white;
    
    display: flex;
    align-self: flex-end;
}

.logo img {
    margin: auto;
}

.sticky .logo {
    height: auto;
}